body {
    font-family: '-KITA-Regular';
}

@font-face {
    font-family: '-KITA-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/-KITA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ani_btn {
  position: relative;
  left: 0px;
  display: inline-block;
  animation: bounces .1s ease infinite alternate;
  font-family: '-KITA-Regular', cursive;
}
/* 
.ani_btn span {
  color: white;
} */

.ani_btn_2 {
  position: relative;
  top: 0px;
  display: inline-block;
  animation: bounce .2s ease infinite alternate;
  font-family: '-KITA-Regular', cursive;
}

@keyframes bounce {
  100% {
      top: -100px;
  }
}
@keyframes bounces {
  100% {
      left: -100px;
  }
}